<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='BBB997AA-B468-4F0D-817E-0AB13F4B732F' Name='RecoTime' 
    Language='1033' Version='0.3.51' Manufacturer='Renaissance Insurance'
    UpgradeCode='C48F0D13-7582-4EDA-93F6-B8933219CC80'>
  <Package Description='RecoTime Installer' Manufacturer='Renaissance Insurance'
    InstallerVersion='200' Languages='1033' Compressed='yes' />
  <Media Id='1' Cabinet='data.cab' EmbedCab='yes' />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='SystemFolder' Name='System32'>
        <Directory Id='RecoTimeFolder' Name='recotime'>
          <Component Id="RecoTime" Guid='EA1C7534-E621-4210-B208-3A59E30035D3'>
            <File Id="recosrvc.exe" Name="recosrvc.exe"
              Source="../build/recosrvc.exe" KeyPath="yes"/>
            <File Id="recoalrt.exe" Name="recoalrt.exe"
              Source="../build/recoalrt.exe" KeyPath="no"/>
            <File Id="recoclnt.exe" Name="recoclnt.exe"
              Source="../build/recoclnt.exe" KeyPath="no"/>
            <File Id="recotime.ini" Name="recotime.ini"
              Source="../build/recotime.ini" KeyPath="no"/>
            <File Id="fbclient.dll" Name="fbclient.dll"
              Source="../build/fbclient.dll" KeyPath="no"/>             
            <ServiceInstall Id="InstallService" Name="recosrvc" DisplayName="RecoTime Service"
              Type="ownProcess" Start="auto" ErrorControl="normal" 
              Description="Time Attendance System" Account="LocalSystem" />
            <ServiceControl Id="ControlService"
              Name="recosrvc" Start="install" Stop="both" Remove="uninstall" Wait="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id='RecoTimeFeature' Title='Installing all components of RecoTime' Level='1'>
      <ComponentRef Id='RecoTime' />
    </Feature>
  </Product>
</Wix>